GEMINI_API_KEY=
LITELLM_EMBEDDING_MODEL=gemini/gemini-embedding-001
LITELLM_CHAT_MODEL=gemini/gemini-2.5-flash

NEO4J_URI=neo4j+s://1ad63022.databases.neo4j.io
NEO4J_USERNAME=1ad63022
NEO4J_PASSWORD=

RAG_TOP_K=5
RAG_MIN_SCORE=0.72
FRONTEND_ORIGIN=http://localhost:3000
